/.idea/
/17_Introduction_to_NLP/17_3_files/lenta-ru-news.parquet.gzip
/17_Introduction_to_NLP/17_3_files/lenta-ru-news.parquet
/17_Introduction_to_NLP/17_3_files/lenta-ru-news.csv.gz
/17_Introduction_to_NLP/___17_7_dl-nlp-cnn1.ipynb
/17_Introduction_to_NLP/.ipynb_checkpoints/17_6_lesson_6-checkpoint.ipynb
/17_Introduction_to_NLP/.ipynb_checkpoints/17_6_colab_text_classification_part3-checkpoint.ipynb
/17_Introduction_to_NLP/.ipynb_checkpoints/17_6_colab_text_classification_part1-checkpoint.ipynb
/17_Introduction_to_NLP/.ipynb_checkpoints/17_6_colab_text_classification_part2-checkpoint.ipynb
/17_Introduction_to_NLP/17_4_BigARTM.ipynb
/17_Introduction_to_NLP/17_4_parse_rospotrebnadzor.ipynb
/17_Introduction_to_NLP/17_4_topic_modeling.ipynb
/17_Introduction_to_NLP/17_6_colab_text_classification_part1.ipynb
/17_Introduction_to_NLP/17_6_colab_text_classification_part2.ipynb
/17_Introduction_to_NLP/17_6_colab_text_classification_part3.ipynb
/17_Introduction_to_NLP/__17_7_dl-nlp-cnn.ipynb
/17_Introduction_to_NLP/_N1_17_7_dl_nlp_cnn1.ipynb
/19_Introduction_to_Molecular_Biology_and_Genetics/19_5_files/input/SRR21375816.fastq.gz
/19_Introduction_to_Molecular_Biology_and_Genetics/19_5_files/output/star_genome/SAindex
/19_Introduction_to_Molecular_Biology_and_Genetics/19_5_files/output/mikhail.bam
/19_Introduction_to_Molecular_Biology_and_Genetics/19_5_files/output/M4_MikhailAligned.out.bam
