
07_DS_Python_lib's_NP_PD_PLT_SKL/10_Вебинар. Консультация по итоговому проекту_14.08.2021.ipynb

07_DS_Python_lib's_NP_PD_PLT_SKL/6_Видеоурок. Обучение с учителем в Scikit-learn_23.07.2021.ipynb

07_DS_Python_lib's_NP_PD_PLT_SKL/7_Вебинар. Обучение с учителем в Scikit-learn_03.08.2021.ipynb

07_DS_Python_lib's_NP_PD_PLT_SKL/9_Вебинар. Обучение без учителя в Scikit-learn и введение в итоговый проект_10.08.2021.ipynb
07_DS_Python_lib's_NP_PD_PLT_SKL/Project_SatyukovaAV.ipynb
